<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link href="../lib/layui_v2.5.4/css/layui.css" rel="stylesheet" />
    <title>注册</title>
    <style>
        .hasInfoTips {display:block;height:18px;}
    </style>
</head>
<body>
    <div class="layui-fluid">
        <h1>注册页面</h1>
        <div id="app" class="layui-row layui-col-space10">
            <div class="layui-col-md4">
            </div>
            <div class="layui-col-md4">
                <div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input v-model="username" v-on:blur="checkHasUsername" type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            <span  class="layui-badge hasInfoTips" v-show="hasUsername">已存在相同用户名</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input v-model="password" type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-block">
                            <input v-model="nickname" type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input v-model="phone" v-on:blur="checkHasPhone"  type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            <span class="layui-badge hasInfoTips" v-show="hasPhone">已存在相同手机号</span>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md2">
                        </div>
                        <div class="layui-col-md8">
                            <button type="button" v-on:click="confirm" class="layui-btn layui-btn-radius layui-btn-normal">确认</button>
                            <button type="button" v-on:click="backIndex" class="layui-btn layui-btn-radius layui-btn-primary">返回</button>
                        </div>
                        <div class="layui-col-md2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
            </div>
        </div>
    </div>
    <script src="../lib/layui_v2.5.4/layui.all.js"></script>
    <script src="../lib/vue_v2.6.10/vue.js"></script>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/underscore_v1.9.1/underscore.js"></script>
    <script>
        //axios.defaults.headers = {
        //    "Content-Type": "application/x-www-form-urlencoded;charset=utf-8"
        //};
        var app = new Vue({
            el: "#app",
            data: {
                username: "",
                password: "",
                nickname: "",
                phone: "",

                hasUsername: false,
                hasPhone:false,
            },
            methods: {
                checkHasUsername: function () {
                    $.ajax({
                        //请求方式
                        type: "POST",
                        accepts: "application/json",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        dataType: 'text',
                        //请求地址
                        url: "/api/account/check",
                        //数据，json字符串
                        data: JSON.stringify(
                            {
                                username: app.username
                            }
                        ),
                        //请求成功
                        success: function (result) {
                            if (result !== "") {
                                app.hasUsername = true;
                            } else {
                                app.hasUsername = false;
                            }
                        },
                        //请求失败，包含具体的错误信息
                        error: function (e) {
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                    });
                },
                checkHasPhone: function () {
                    $.ajax({
                        //请求方式
                        type: "POST",
                        accepts: "application/json",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        dataType: 'text',
                        //请求地址
                        url: "/api/account/check",
                        //数据，json字符串
                        data: JSON.stringify(
                            {
                                phone: app.phone
                            }
                        ),
                        //请求成功
                        success: function (result) {
                            if (result !== "") {
                                app.hasPhone = true;
                            } else {
                                app.hasPhone = false;
                            }
                        },
                        //请求失败，包含具体的错误信息
                        error: function (e) {
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                    });
                },
                confirm: function () {
                    if (app.hasUsername || app.hasPhone) {
                        layer.msg("请根据提示修改注册信息再进行注册");
                        return false;
                    }
                    $.ajax({
                        //请求方式
                        type: "POST",
                        accepts: "application/json",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        dataType: 'text',
                        //请求地址
                        url: "/api/account/register",
                        //数据，json字符串
                        data: JSON.stringify(
                            {
                                username: app.username,
                                password: app.password,
                                nickname: app.nickname,
                                phone: app.phone
                            }
                        ),
                        //请求成功
                        success: function (result) {
                            if (result === "") {
                                layer.msg("注册成功!");
                            } else {
                                layer.msg(result);
                            }
                        },
                        //请求失败，包含具体的错误信息
                        error: function (e) {
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                    });
                },
                backIndex: function (evetn) {
                    window.location.href = "index.html";
                }
            }
        })

    </script>
</body>
</html>